body {
    width: 95%;
    height: 100%;
    color: #22313f;
    background-color: #34495e;
    font-family: 'Gill Sans', sans-serif;
}
.cell {
    background-color: #e4f1fe;
}

.board {
    background-color: #8dc6ff;
    padding: 20px;
    width: max-content;
    margin: auto;
    height:fit-content;
    max-height: 90em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.resetbutton {
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 50px;
    margin-top: 10px;
    background-color: #e4f1fe;
}
.resetbutton:hover {
    background-color: #c7d3df;
}
.win {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -20%);
    display: none;
    border: solid #22313f;
}
.scores {
    text-align: center;
    font-size: 30px;
    background-color: #e4f1fe;
    border-radius: 5px;
    margin: 15px;
    display: flex;
}
.score {
    margin: auto;
}
@media only screen and (max-width: 480px) {
    .cell {
        width: 25vw;
        height: 25vw;
        border: none;
        margin: 5px;
        padding: 5px;
        font-size: 30px;
    }
    .board {
        padding: 10px;
        margin-top: 20px;
    }
    .resetbutton {
        font-size: 25px;
        height: 30px;
    }
    .win {
        font-size: 50px;
        background-color: #6083a5;
        left: 50%;
        bottom: 15%;
        height:fit-content;
    }
    .score {
        font-size: 20px;
        padding-top: 2px;
    }
}
@media only screen and (min-width: 480px) {
    .cell {
        width: 20vi;
        height: 20vw;
        border: none;
        margin: 5px;
        padding: 5px;
        font-size: 60px;
    }
    .board {
        min-height: fit-content;
    }
    .win {
        background-color: #6083a5c7;
        font-size: 5vi;
    }
}
.first-color { 
	background: #e4f1fe; 
}
	
.second-color { 
	background: #8dc6ff; 
}

.third-color { 
	background: #22313f; 
}

.fourth-color { 
	background: #34495e; 
}