body {
    width: 95%;
    max-height: 90%;
    color: #22313f;
    background-color: #34495e;
}
.cell {
    background-color: #e4f1fe;
}
.board {
    background-color: #8dc6ff;
    padding: 20px;
    width: max-content;
    margin: auto;
}
.cell:hover {
    background-color: #e4f1fe9f;
}
.resetbutton {
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 50px;
    margin-top: 10px;
}
@media only screen and (max-width: 480px) {
    .cell {
        width: 25vw;
        height: 25vw;
        border: none;
        margin: 5px;
        padding: 5px;
        font-size: 30px;
    }
    .board {
        padding: 10px;
    }
}
@media only screen and (min-width: 480px) {
    .cell {
        width: 25vw;
        height: 25vw;
        border: none;
        margin: 5px;
        padding: 5px;
        font-size: 60px;
    }
}
.first-color { 
	background: #e4f1fe; 
}
	
.second-color { 
	background: #8dc6ff; 
}

.third-color { 
	background: #22313f; 
}

.fourth-color { 
	background: #34495e; 
}